/Practice03/build/
/Practice03/nbproject/private/
/Practice02/dist/
/Practice03/dist/
/Practice04/dist/
/Practice05/build/
/Practice05/nbproject/private/
/Practice07/build/
/Practice07/dist/
/nbproject/private/
/build/
/dist/
/Practice9/nbproject/private/
/Practice9/build/
/Practice9/dist/
/Practice10/nbproject/private/
/Practice10/build/